{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<section class="hero-desktop">
		<img src="{{ asset('assets/images/hero-contact.png')}}" alt="Oh Pétard Festival">
	</section>

	<section class="hero-mobile">
		<img src="{{ asset('assets/images/hero-mobile-contact.png')}}" alt="Oh Pétard Festival">
	</section>


	<section class="section-contact restauration-content py-5 px-3">
		<div class="container">
			<p class="lead text-center" style="max-width: 800px; margin: 0 auto;">
				Une question sur le festival ? Une demande d’information sur la programmation, les inscriptions ou le bénévolat ?<br>
				L’équipe d’Oh Pétard Festival
																								se fera un plaisir de vous répondre !
			</p>

			<div class="row g-4 text-center mt-5">
				<div class="col-12 col-md-6 mb-3 mb-md-0">
					<i class="fa-solid fa-envelope" style="color: var(--color-pink);"></i>
					<h4 style="color: var(--color-blue-dark); font-family: var(--font-title);">E-mail</h4>
					<p style="color: var(--color-blue-dark);">asso.ohpetard@gmail.com</p>
				</div>
				<div class="col-12 col-md-6">
					<i class="fa-solid fa-house" style="color: var(--color-yellow);"></i>
					<h4 style="color: var(--color-blue-dark); font-family: var(--font-title);">Adresse</h4>
					<p style="color: var(--color-yeblue-darkllow);">Association Oh Pétard
						<br>372 Route de Buis-les-Baronnies<br>26 170 La Roche-sur-le-Buis</p>
				</div>

			</div>
		</div>
	</section>


	<section class="section-adherer position-relative py-0 py-md-5 mb-5 mb-md-0">
		<div class="container">

			<div class="adhesion-box text-center p-5 p-md-5">
				<h2 class="fw-bold mb-3">Adhère à l’association Oh Pétard !</h2>
				<p class="mb-4">
					Envie de soutenir un festival local, engagé et festif ? Adhère à l'association Oh Pétard ! et participe à une aventure humaine unique au cœur de Buis-les-Baronnies.
				</p>
				<a href="https://www.helloasso.com/associations/association-oh-petard/adhesions/adhesion-association-oh-petard" class="text-uppercase btn btn-secondary" target="_blank" rel="noopener noreferrer">Adhérer</a>
			</div>

			<img src="{{ asset('assets/images/micro.png')}}" alt="Illustration micro" class="illu-micro">

		</div>
	</section>

	<section class="zones-texte bandeau-good-inscription py-3 text-center">
		<h3 class="m-0 lineup-big d-flex flex-column flex-md-row align-items-center justify-content-center gap-2">
			<span class="event">good food</span>
			<span class="etoile d-none d-md-inline">*</span>
			<span class="spot">good ride</span>
			<span class="etoile d-none d-md-inline">*</span>
			<span class="sector">good music</span>
		</h3>
	</section>

	<div class="text-center mt-5 mb-4">
		<a href="{{ path('app_home')}}">
			<button class="btn btn-outline-primary">Retour</button>
		</a>
	</div>
{% endblock %}
